html {
  scroll-behavior: smooth;
  overflow-anchor: none;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #403f3dcc;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.main-container {
  width: 1440px;
  background: #e1d4c9;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header-wrapper {
  padding: 0 40px;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
}

.header-navigation {
  width: 1188px;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  width: 456px;
}

.header-navigation-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  color: #403f3d;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-link::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -5px;
  display: block;
  width: 0;
  height: 2px;
  background: #403f3d;
  transform: translateX(-50%);
  transition: 0.3s;
}

.nav-link:hover:after {
  width: 100%;
}

.header-menu-link {
  width: 72px;
}

.menu-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #403f3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-link::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -5px;
  display: block;
  width: 0;
  height: 2px;
  background: #403f3d;
  transform: translateX(-50%);
  transition: 0.3s;
}

.menu-link:hover:after {
  width: 100%;
}

.enjoy {
  padding: 0 40px;
  display: flex;
  justify-content: center;
}

.enjoy-wrapper {
  background-image: url(img/img-hero.jpg);
  background-size: auto;
  padding: 100px;
  border-radius: 40px;
  width: 100%;
}

.enjoy-info {
  width: 530px;
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 75.6px;
  color: #e1d4c9;
  margin: 0;
}

.accent {
  font-style: italic;
  color: #b0907a;
}

.enjoy-info-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #e1d4c9;
  margin: 0;
}

.enjoy-info-button {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #403f3d;
  text-align: center;
  background-color: #e1d4c9;
  border: none;
  cursor: pointer;
  position: relative;
}

.button-text {
  position: absolute;
  top: 20px;
  left: 78px;
  letter-spacing: 1px;
}

.enjoy-info-button:hover .button-text {
  transform: translateX(-25%);
}

.button-text::after {
  content: url(img/coffee-cup.svg);
  padding-left: 2px;
  opacity: 0;
  position: absolute;
  transition: 0.5s;
}

.enjoy-info-button:hover .button-text::after {
  opacity: 100%;
  left: px;
}

.favorite {
  padding: 0 40px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.favorite-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-heading {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
}

.favorite-slider {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-arrow {
  cursor: pointer;
  color: #e1d4c9;
  transition-duration: 2s;
}

.slider-arrow:hover {
  color: #665f55;
}

.slider-arrow:hover .arrow-item {
  stroke: #e1d4c9;
}

.slider-item {
  width: 480px;
}

.slider-item-pic {
  width: 100%;
}

.slider-item-description {
  margin-top: 20px;
  text-align: center;
}

.slider-item-heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.slider-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.price {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.controls {
  display: flex;
  margin-top: 40px;
  width: 144px;
  justify-content: space-between;
}
.control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  border-color: #c1b6ad;
  background-color: #c1b6ad;
}

.control.active {
  border-color: #665f55;
  background-color: #665f55;
}

.about {
  padding: 0 40px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.about-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-heading {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
}

.about-pics {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.column {
  width: 660px;
  height: 1060px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-pic-big {
  width: 100%;
  height: 590px;
  border-radius: 20px;
  object-fit: none;
  transition: 2s;
}

.about-pic-small {
  width: 100%;
  height: 430px;
  border-radius: 20px;
  object-fit: none;
  transition: 2s;
}

.about-pic-big:hover {
  object-fit: cover;
}

.about-pic-small:hover {
  object-fit: cover;
}

.app {
  padding: 0 40px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.app-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-info {
  width: 630px;
}

.app-heading {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
}

.app-text {
  margin: 40px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.app-buttons {
  width: 420px;
  display: flex;
  justify-content: space-between;
}

.app-button {
  width: 200px;
  height: 64px px;
  border-radius: 100px;
  padding: 10px 20px;
  border: 1px solid #665f55;
  background-color: #e1d4c9;
  transition: 1.5s;
  cursor: pointer;
  position: relative;
  text-align: left;
}

.app-button:hover {
  background-color: #665f55;
}

.app-button-content {
  display: flex;
}

.app-button-text {
  text-align: start;
  margin-left: 8px;
  color: #403f3d;
}

.button-text-up {
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  position: absolute;
  left: 65px;
  top: 11px;
  color: #403f3d;
}

.button-text-down {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  position: absolute;
  top: 26px;
  left: 64px;
  color: #403f3d;
}

.app-button:hover .button-text-up {
  color: #e1d4c9;
}

.app-button:hover .button-text-down {
  color: #e1d4c9;
}

.app-button:hover .button-logo {
  color: #e1d4c9;
}

footer {
  padding: 0 40px 40px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px;
  background-color: #665f55;
  border-radius: 40px;
}

.footer-motto-socials {
  width: 530px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-heading {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
}

.socials {
  width: 204px;
  display: flex;
  justify-content: space-between;
}

.socials-logo {
  cursor: pointer;
  color: #665f55;
  transition-duration: 2s;
}

.socials-logo:hover {
  color: #e1d4c9;
}

.socials-logo:hover .socials-logo-item {
  stroke: #403f3d;
}

.footer-contacts {
  width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts-heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #e1d4c9;
}

.contacts-info {
  margin-top: 40px;
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-info-item {
  display: flex;
  align-items: start;
}

.contacts-info-text {
  margin: 0 10px 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #e1d4c9;
}

.cont-link {
    text-decoration: none;
    margin-left: 0;
    position: relative;
}

.cont-icon {
    margin-right: 4px;
}

.cont-link::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -5px;
    display: block;
    width: 0;
    height: 2px;
    background: #E1D4C9;
    transform: translateX(-50%);
    transition: 0.3s;
  }
  
  .cont-link:hover:after {
    width: 100%;
  }
