html {
  scroll-behavior: smooth;
  overflow-anchor: none;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #e1d4c9;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  height: 100vh;
}

.main-container {
  width: 100vw;
  background: #e1d4c9;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header-wrapper {
  max-width: 100%;
  padding: 0 40px;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
}

.burger-wrapper {
  width: 92.7%;
  /* width: 1260px; */
  display: flex;
  justify-content: end;
}

.header-navigation {
  /* width: 1260px; */
  width: 100%;
  display: flex;
}

.nav-wrapper {
  /* width: 1188px; */
  width: 94.3%;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  width: 456px;
}

.header-navigation-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  color: #403f3d;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-link::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -5px;
  display: block;
  width: 0;
  height: 2px;
  background: #403f3d;
  transform: translateX(-50%);
  transition: 0.3s;
}

/* .nav-link:hover:after {
  width: 100%;
} */

.header-menu-link {
  width: 72px;
  display: flex;
  justify-content: end;
}

.header-menu-pic {
  margin-left: 8px;
}

.menu-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #403f3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-link::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 10px;
  display: block;
  width: 0;
  height: 2px;
  background: #403f3d;
  transform: translateX(-50%);
  transition: 0.3s;
}

/* .menu-link:hover:after {
  width: 100%;
} */

.enjoy {
  max-width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: center;
}

.enjoy-wrapper {
  /* background-image: url(img/img-hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px; */
  width: 100%;
  position: relative;
}

.enjoy-video {
  object-fit: cover;
  width: 100%;
  position: absolute;
  border-radius: 40px;
  height: 100%;
  z-index: 0;
}

.enjoy-info {
  width: 530px;
  height: 444px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 75.6px;
  color: #e1d4c9;
  margin: 0;
}

.accent {
  font-style: italic;
  color: #b0907a;
}

.enjoy-info-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #e1d4c9;
  margin: 0;
}

.enjoy-info-button {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #403f3d;
  text-align: center;
  background-color: #e1d4c9;
  border: none;
  cursor: pointer;
  position: relative;
  font-family: "Inter", sans-serif;
  transition-duration: 2s;
}

.button-text {
  position: absolute;
  top: 20px;
  left: 78px;
  letter-spacing: 1px;
}

/* .enjoy-info-button:hover .button-text {
  transform: translateX(-25%);
  transition-duration: 2s;
} */

.button-text::after {
  content: url(img/coffee-cup.svg);
  padding-left: 2px;
  opacity: 0;
  position: absolute;
  transition: 0.5s;
}

/* .enjoy-info-button:hover .button-text::after {
  opacity: 100%;
  left: px;
} */

.favorite {
  padding: 0 40px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.favorite-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-heading {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
  color: #403f3d;
}

.slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-wrapper {
  width: 480px;
  overflow: hidden;
}

.slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: 1s;
}

.favorite-slider {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-arrow {
  cursor: pointer;
  color: #e1d4c9;
  transition-duration: 2s;
}

/* .slider-arrow:hover {
  color: #665f55;
} */

/* .slider-arrow:hover .arrow-item {
  stroke: #e1d4c9;
} */

.slider-item {
  min-width: 480px;
}

.slider-item-pic {
  width: 100%;
}

.slider-item-description {
  margin-top: 20px;
  text-align: center;
}

.slider-item-heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #403f3d;
}

.slider-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #403f3d;
}

.price {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #403f3d;
}

.controls {
  display: flex;
  margin-top: 40px;
  width: 144px;
  justify-content: space-between;
}

.control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  border-color: #c1b6ad;
  background-color: #c1b6ad;
}

.control-progress {
  border-color: #665f55;
  background-color: #665f55;
  width: 0;
  height: 100%;
}

.about {
  padding: 0 40px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.about-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-heading {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  color: #403f3d;
}

.about-pics {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.column {
  width: 660px;
  height: 1060px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-pic-big {
  width: 100%;
  height: 590px;
  border-radius: 20px;
}

.about-pic-small {
  width: 100%;
  height: 430px;
  border-radius: 20px;
}

.column-item:nth-child(1) .about-pic-big {
  background: url(img/about-1.jpg) no-repeat 50% 50%;
  background-size: 110%;
  transition: 1s background-size;
}

.column-item:nth-child(2) .about-pic-small {
  background: url(img/about-2.jpg) no-repeat 50% 50%;
  background-size: 110%;
  transition: 1s background-size;
}

.column-item:nth-child(1) .about-pic-small {
  background: url(img/about-3.jpg) no-repeat 50% 50%;
  background-size: 110%;
  transition: 1s background-size;
}

.column-item:nth-child(2) .about-pic-big {
  background: url(img/about-4.jpg) no-repeat 50% 50%;
  background-size: 110%;
  transition: 1s background-size;
}

/* .column-item:hover .about-pic-big {
  background-size: 100%;
} */

/* .column-item:hover .about-pic-small {
  background-size: 100%;
} */

.app {
  padding: 0 40px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.app-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-info {
  width: 630px;
}

.app-heading {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  color: #403f3d;
}

.app-text {
  margin: 40px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.app-buttons {
  width: 420px;
  display: flex;
  justify-content: space-between;
}

.app-button {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  padding: 10px 20px;
  border: 1px solid #665f55;
  background-color: #e1d4c9;
  transition: 1.5s;
  cursor: pointer;
  position: relative;
  text-align: left;
}

/* .app-button:hover {
  background-color: #665f55;
} */

.app-button-content {
  display: flex;
}

.app-button-text {
  text-align: start;
  margin-left: 8px;
  color: #403f3d;
}

.button-text-up {
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  position: absolute;
  left: 65px;
  top: 11px;
  color: #403f3d;
}

.button-text-down {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  position: absolute;
  top: 26px;
  left: 64px;
  color: #403f3d;
}

/* .app-button:hover .button-text-up {
  color: #e1d4c9;
} */

/* .app-button:hover .button-text-down {
  color: #e1d4c9;
} */

/* .app-button:hover .button-logo {
  color: #e1d4c9;
} */

footer {
  padding: 0 40px 40px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px;
  background-color: #665f55;
  border-radius: 40px;
}

.footer-motto-socials {
  width: 530px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-heading {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  color: #e1d4c9;
}

.socials {
  width: 204px;
  display: flex;
  justify-content: space-between;
}

.socials-logo {
  cursor: pointer;
  color: #665f55;
  transition-duration: 2s;
}

/* .socials-logo:hover {
  color: #e1d4c9;
} */

/* .socials-logo:hover .socials-logo-item {
  stroke: #403f3d;
} */

.footer-contacts {
  width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts-heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #e1d4c9;
}

.contacts-info {
  margin-top: 40px;
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-info-item {
  display: flex;
  align-items: start;
}

.contacts-info-text {
  margin: 0 10px 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #e1d4c9;
}

.cont-link {
  text-decoration: none;
  margin-left: 0;
  position: relative;
}

.cont-icon {
  margin-right: 4px;
}

.cont-link::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -5px;
  display: block;
  width: 0;
  height: 2px;
  background: #e1d4c9;
  transform: translateX(-50%);
  transition: 0.3s;
}

/* .cont-link:hover:after {
  width: 100%;
} */

@media (pointer: fine) and (hover: hover) {
  .nav-link:hover:after {
    width: 100%;
  }

  .menu-link:hover:after {
    width: 100%;
  }

  .enjoy-info-button:hover .button-text {
    transform: translateX(-25%);
    transition-duration: 2s;
  }

  .enjoy-info-button:hover .button-text::after {
    opacity: 100%;
  }

  .slider-arrow:hover {
    color: #665f55;
  }

  .slider-arrow:hover .arrow-item {
    stroke: #e1d4c9;
  }

  .column-item:hover .about-pic-big {
    background-size: 100%;
  }

  .column-item:hover .about-pic-small {
    background-size: 100%;
  }

  .app-button:hover {
    background-color: #665f55;
  }

  .app-button:hover .button-text-up {
    color: #e1d4c9;
  }

  .app-button:hover .button-text-down {
    color: #e1d4c9;
  }

  .app-button:hover .button-logo {
    color: #e1d4c9;
  }

  .socials-logo:hover {
    color: #e1d4c9;
  }

  .socials-logo:hover .socials-logo-item {
    stroke: #403f3d;
  }

  .cont-link:hover:after {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .about-pics {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  .column {
    width: 100%;
    margin-top: 40px;
    height: auto;
  }

  .about-pic-small {
    display: none;
  }

  .column-item:nth-child(1) .about-pic-big {
    background-size: cover;
  }

  .column-item:nth-child(2) .about-pic-big {
    background-size: cover;
  }

  .app-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .app-info {
    width: 100%;
  }

  .phones {
    margin-top: 100px;
  }

  .footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 60px;
    background-color: #665f55;
    border-radius: 40px;
  }

  .footer-contacts {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .main-container.active {
    overflow-y: hidden;
  }

  .burger {
    width: 43px;
    height: 43px;
    border-radius: 100px;
    border: 1px solid #665f55;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .burger-bar {
    width: 16px;
    height: 1.5px;
    position: absolute;
    top: 60%;
    left: 52%;
    transform: translate(-50%, -50%);
    background-color: #403f3d;
    transition: all 0.5s;
  }

  .burger-bar:nth-of-type(2) {
    top: calc(50% - 3px);
  }


  .menu-for-burger {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 100px;
    width: 100%;
    padding: 15px;
    background-color: #e1d4c9;
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 2;
  }

  .menu-for-burger.active {
    transform: translateX(0);
    transition: transform 0.5s;
    position: absolute;
    padding: 0;
    z-index: 2;
}

.burger.active .burger-bar:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.burger.active .burger-bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

.header-navigation-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  margin: 60px 0 100px;
  padding: 0;
  height: 340px;
  width: 100%;
  justify-content: space-between;
}

.nav-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #403f3d;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.header-menu-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-link {
  text-decoration: none;
  font-weight: 600;
  line-height: 40px;
  font-size: 32px;
  color: #403f3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-menu-pic {
  width: 40px;
  margin-left: 15px;
}

  .enjoy-wrapper {
    /* background-image: url(img/img-hero.jpg);
    background-position: bottom;
    padding: 100px 60px; */
    width: 100%;
    position: relative;
  }

  .enjoy-video {
    object-fit: cover;
    width: 100%;
    position: absolute;
    border-radius: 40px;
    height: 100%;
    z-index: 0;
  }
  
  .enjoy-info {
    padding: 100px 60px;
  }

  .enjoy-info-button .button-text {
    transform: translateX(-25%);
    transition-duration: 2s;
  }

  .enjoy-info-button .button-text::after {
    opacity: 100%;
  }

  .button-text {
    left: 75px;
    letter-spacing: 0.5px;
  }

  .button-text::after {
    padding-left: 7px;
  }

  .slider-item-description {
    margin-top: 17px;
  }

  .slider-wrapper {
    width: 488px;
  }

  .slider-item {
    min-width: 488px;
  }

  .about-pics {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  .column {
    width: 100%;
    margin-top: 40px;
    height: auto;
  }

  .about-pic-small {
    display: none;
  }

  .column-item:nth-child(1) .about-pic-big {
    background-size: 105%;
  }

  .column-item:nth-child(2) .about-pic-big {
    background-size: 105%;
  }

  .app-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .app-info {
    width: 100%;
  }

  .phones {
    margin-top: 100px;
  }

  .footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 60px;
    background-color: #665f55;
    border-radius: 40px;
  }

  .footer-contacts {
    margin-top: 100px;
  }
}

@media screen and (max-width: 700px) {
  .enjoy-info {
    width: 100%;
    padding: 60px 16px;
  }

  h1 {
    font-size: 42px;
    line-height: 48.3px;
  }

  .enjoy-info-text {
    margin: 40px 0;
  }

  .column-item:nth-child(1) .about-pic-big {
    background-size: cover;
  }

  .column-item:nth-child(2) .about-pic-big {
    background-size: cover;
  }

  .phones {
    width: 100%;
  }

  .footer-wrapper {
    padding: 60px 16px;
  }

  .footer-motto-socials {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .favorite-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .about-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .app-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .app-buttons {
    height: 148px;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-motto-socials {
    width: 100%;
    height: 180px;
  }

  .footer-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .footer-contacts {
    margin-top: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .burger {
    width: 43px;
    height: 43px;
    border-radius: 100px;
    border: 1px solid #665f55;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .burger-bar {
    width: 16px;
    height: 1.5px;
    position: absolute;
    top: 60%;
    left: 52%;
    transform: translate(-50%, -50%);
    background-color: #403f3d;
    transition: all 0.5s;
  }

  .burger-bar:nth-of-type(2) {
    top: calc(50% - 3px);
  }

  .menu-for-burger {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* position: fixed;
    left: 0px;
    width: 100%; */
    padding: 15px;
    /* background-color: #e1d4c9;
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 2; */
  }

  .header-wrapper {
    max-width: 100%;
    padding: 0 16px;
  }

  .enjoy {
    max-width: 100%;
    padding: 0 16px;
  }

  .enjoy-info {
    width: 100%;
    height: auto;
    padding: 60px 16px;
  }

  h1 {
    font-size: 42px;
    line-height: 48.3px;
  }

  .enjoy-info-text {
    margin: 40px 0;
  }

  .favorite {
    padding: 0 16px;
  }

  .favorite-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .slider-arrow {
    display: none;
  }

  .slider-wrapper {
    width: 348px;
  }

  .slider-item {
    min-width: 348px;
  }

  .about {
    padding: 0 16px;
  }

  .about-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .column-item:nth-child(1) .about-pic-big {
    background-size: auto;
  }

  .column-item:nth-child(2) .about-pic-big {
    background-size: auto;
  }

  .app {
    padding: 0 16px;
  }

  .app-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .app-buttons {
    height: 148px;
    flex-direction: column;
    justify-content: space-between;
  }

  .phones {
    margin-top: 40px;
    width: 348px;
  }

  footer {
    padding: 0 16px 40px;
  }

  .footer-wrapper {
    padding: 60px 16px;
  }

  .footer-motto-socials {
    width: 100%;
    height: 180px;
  }

  .footer-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .footer-contacts {
    margin-top: 40px;
    width: 100%;
  }
}
