html {
  scroll-behavior: smooth;
  overflow-anchor: none;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #403f3dcc;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.main-container {
  width: 1440px;
  background: #e1d4c9;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header-wrapper {
  padding: 0 40px;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
}

.header-navigation {
  width: 1188px;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  width: 456px;
}

.header-navigation-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  color: #403f3d;
  text-decoration: none;
  cursor: default;
  position: relative;
}

.nav-link::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -5px;
  display: block;
  width: 0;
  height: 2px;
  background: #403f3d;
  transform: translateX(-50%);
  transition: 0.3s;
}

.nav-link:hover:after {
  width: 100%;
}

.header-menu-link {
  width: 72px;
}

.menu-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #403f3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: default;
  pointer-events: none;
}

.menu-link::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 2px;
  background: #403f3d;
  transform: translateX(-50%);
  transition: 0.3s;
}

.menu {
  padding: 0 40px;
  display: flex;
  justify-content: center;
}

.menu-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-heading {
  width: 800px;
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
}

.accent {
  font-style: italic;
  color: #b0907a;
}

.tabs {
  margin: 40px 0;
  width: 361px;
  display: flex;
  justify-content: space-between;
}

.tab-item {
  border-radius: 100px;
  padding: 8px 16px 8px 8px;
  position: relative;
  height: 46px;
  border: 1px solid #c1b6ad;
  background-color: #e1d4c9;
  cursor: pointer;
  transition: 2s;
}

.tab1 {
  width: 115px;
}

.tab2 {
  width: 90px;
}

.tab3 {
  width: 124px;
}

.tab-item-icon {
  position: absolute;
  top: 7px;
  left: 6px;
  color: #c1b6ad;
}

.tab-item-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  position: absolute;
  top: 10px;
  left: 46px;
}

.tab-item.active {
  cursor: default;
  background-color: #665f55;
  color: #e1d4c9;
}

.tab-item:hover {
  background-color: #665f55;
}

.tab-item:hover .tab-item-text {
  color: #e1d4c9;
}

.tab-item:hover .tab-item-icon {
  fill: #e1d4c9;
}

.menu-choice-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-choice-item {
  width: 310px;
  height: 506px;
  margin-bottom: 40px;
  border-radius: 40px;
  border: 1px solid #c1b6ad;
  position: relative;
}

.menu-choice-item-pic {
  width: 100%;
  border-radius: 40px;
  object-fit: none;
}

.menu-choice-item-pic:hover {
    object-fit: cover;
}

.menu-choice-item-descriprion {
  margin: 16px 20px 20px;
}

.menu-choice-item-heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.menu-choice-item-text {
  margin: 12px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.menu-choice-item-price {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  bottom: 20px;
}

footer {
  padding: 0 40px;
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px;
  background-color: #665f55;
  border-radius: 40px;
}

.footer-motto-socials {
  width: 530px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-heading {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
}

.socials {
  width: 204px;
  display: flex;
  justify-content: space-between;
}

.socials-logo {
  cursor: pointer;
  color: #665f55;
  transition-duration: 2s;
}

.socials-logo:hover {
  color: #e1d4c9;
}

.socials-logo:hover .socials-logo-item {
  stroke: #403f3d;
}

.footer-contacts {
  width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts-heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #e1d4c9;
}

.contacts-info {
  margin-top: 40px;
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-info-item {
  display: flex;
  align-items: start;
}

.contacts-info-text {
  margin: 0 10px 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #e1d4c9;
}

.cont-link {
  text-decoration: none;
  margin-left: 0;
  position: relative;
}

.cont-icon {
  margin-right: 4px;
}

.cont-link::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -5px;
  display: block;
  width: 0;
  height: 2px;
  background: #e1d4c9;
  transform: translateX(-50%);
  transition: 0.3s;
}

.cont-link:hover:after {
  width: 100%;
}
