 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #41b3a3;
    padding: 10px;
 }

 .container {
    width: 850px;
    background-color: #e8a87c;
    display: flex;
    align-items: flex-end;
    gap: 70px;
    padding: 60px 40px;
    border-radius: 10px;
 }

 .hangman-wrapper img {
    max-width: 270px;
 }

 .word-to-guess {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
 }

 .word-letter {
    width: 28px;
    margin-bottom: 40px;
    border-bottom: 3px solid #000;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
 }

 .word-letter.guessed {
    border-color: transparent;
    margin: -40px 0 35px;
 }

 .button.disabled {
    background-color: #85F8EC;
    cursor: default;
 }

 .text {
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 15px;
 }

 .text b {
    font-weight: 700;
 }

 .guesses b {
    color: #e34375;
 }

 .keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 40px;
}

 .button {
    background-color: #41b3a3;
    border-radius: 4px;
    text-transform: uppercase;
    outline: none;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    color: #000;
    cursor: pointer;
 }

 .letter {
    width: calc(100% / 9 - 5px);
    padding: 7px;
 }

 .button:hover {
    background-color: #85F8EC;
 }

 .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
 }

 .modal-content {
    width: 100%;
    max-width: 360px;
    background-color: #e8a87c;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
 }

 .modal-content img {
    max-width: 130px;
    margin-bottom: 20px;
 }

 .lose-text {
    font-size: 1.53rem;
 }

 .correct-word {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 400;
 }

 .correct-word b {
    font-weight: 700;
    color: #41b3a3;
 }

 .play-again {
    padding: 12px 23px;
 }

 @media (max-width: 768px) {

    .container {
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }

    .hangman-wrapper img {
        max-width: 200px;
     }
 }





